<footer class="store-footer" style="background-image: url('{{ 'images/footer.png' | asset }}');height:1010px;background-position: center;margin: 0 !important;">
<div style="text-align: center;width: 100%;margin: auto;display: block;">
	<img src="{{ 'images/footerlogo.png' | asset }}" style="
    text-align: center;
    margin: auto;
    padding-top: 357px;
" />
	</div>	
<sallapayments class="s-payments-list-wrap hydrated" style="
    display: block;
    margin-bottom: 7px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
">
<ul class="s-payments-list">
<li class="s-payments-list-item">
<img class="lazy loaded" width="100%" height="100%" src="https://cdn.salla.network/cdn-cgi/image/fit=scale-down,width=58,height=58,onerror=redirect,format=auto/images/payment/mada_mini.png" data-src="https://cdn.salla.network/cdn-cgi/image/fit=scale-down,width=58,height=58,onerror=redirect,format=auto/images/payment/mada_mini.png" alt="mada" loading="lazy" data-ll-status="loaded"></li>
<li class="s-payments-list-item"><img class="lazy loaded" width="100%" height="100%" src="https://cdn.salla.network/cdn-cgi/image/fit=scale-down,width=58,height=58,onerror=redirect,format=auto/images/payment/credit_card_mini.png" data-src="https://cdn.salla.network/cdn-cgi/image/fit=scale-down,width=58,height=58,onerror=redirect,format=auto/images/payment/credit_card_mini.png" alt="credit_card" loading="lazy" data-ll-status="loaded"></li>
<li class="s-payments-list-item"><img class="lazy loaded" width="100%" height="100%" src="https://cdn.salla.network/cdn-cgi/image/fit=scale-down,width=58,height=58,onerror=redirect,format=auto/images/payment/stc_pay_mini.png" data-src="https://cdn.salla.network/cdn-cgi/image/fit=scale-down,width=58,height=58,onerror=redirect,format=auto/images/payment/stc_pay_mini.png" alt="stc_pay" loading="lazy" data-ll-status="loaded"></li>
<li class="s-payments-list-item"><img class="lazy loaded" width="100%" height="100%" src="https://cdn.salla.network/cdn-cgi/image/fit=scale-down,width=58,height=58,onerror=redirect,format=auto/images/payment/apple_pay_mini.png" data-src="https://cdn.salla.network/cdn-cgi/image/fit=scale-down,width=58,height=58,onerror=redirect,format=auto/images/payment/apple_pay_mini.png" alt="apple_pay" loading="lazy" data-ll-status="loaded"></li>
<li class="s-payments-list-item"><a target="_blank" href="https://eauthenticate.saudibusiness.gov.sa/certificate-details/0000160889"> <img width="100%" height="100%" src="https://cdn.salla.network/cdn-cgi/image/fit=scale-down,width=58,height=58,onerror=redirect,format=auto/images/sbc.png" data-src="https://cdn.salla.network/cdn-cgi/image/fit=scale-down,width=58,height=58,onerror=redirect,format=auto/images/sbc.png" class="lazy s-payments-sbc-image loaded" alt="SBC" loading="lazy" data-ll-status="loaded"></a></li>
<li class="s-payments-list-item"><img class="lazy loaded" width="100%" height="100%" src="https://cdn.salla.network/cdn-cgi/image/fit=scale-down,width=58,height=58,onerror=redirect,format=auto/images/payment/bank_mini.png" data-src="https://cdn.salla.network/cdn-cgi/image/fit=scale-down,width=58,height=58,onerror=redirect,format=auto/images/payment/bank_mini.png" alt="bank" loading="lazy" data-ll-status="loaded"></li><li class="s-payments-list-item"> <img width="100%" height="100%" src="https://cdn.salla.network/cdn-cgi/image/fit=scale-down,width=58,height=58,onerror=redirect,format=auto/images/payment/cod_mini.png" data-src="https://cdn.salla.network/cdn-cgi/image/fit=scale-down,width=58,height=58,onerror=redirect,format=auto/images/payment/cod_mini.png" class="lazy loaded" alt="COD" loading="lazy" data-ll-status="loaded"></li></ul></sallapayments>
</footer>
